.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.favorite-content{
    width: 50%;
    background-color: #666;
}
.pictures{
    background-image: url('../images/v4.jpg');
    background-repeat: no-repeat;
    height: 600px;
    width: 50%;
    background-size: cover;
}
.title
{
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
    color: #fff;
  
}

.fav-data{
    padding-left: 15px;
}