.navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: azure;

}
.nav-bar{
    list-style: none;
    display: flex;
    flex-direction: row;
    
    
}
.nav-bar li{
    padding-left: 15px;
    font-size: 18px;
    padding-top: 18px;
  font-weight: bold;
}
.contact{
    padding-top: 25px;
}
.contact .title{
color: #fff;
padding-top: 15px;
text-align: center;



}
.title-des{
    padding-top: 15px;
text-align: center;
font-size: 20px;
    color: rgb(180, 176, 176);
}
.btn{
    background-color: #777;
    color: #fff;
    border: none;
    border-radius: 25px;
    margin-left: 48%;
    margin-top: 2%;
    padding: 10px 20px;
}
.header{
    background-image: url('../images/v1.jpg');
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}